@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --text-primary: #fff;
  --background: hsl(250, 24%, 9%);
  --secondaryBg: hsl(250, 21%, 11%);
  --blue-50: hsl(220, 55%, 10%);
  --blue-100: hsl(220, 55%, 13%);
  --blue-200: hsl(220, 62%, 25%);
  --blue-300: hsl(220, 68%, 35%);
  --blue-400: hsl(220, 72%, 45%);
  --blue-500: hsl(220, 80%, 55%);
  --blue-600: hsl(220, 80%, 65%);
  --blue-700: hsl(220, 80%, 75%);
  --blue-800: hsl(220, 80%, 85%);
  --blue-900: hsl(220, 80%, 95%);
  --blue-950: hsl(220, 55%, 97%);
  --cyan-50: hsl(180, 25%, 10%);
  --cyan-100: hsl(180, 36%, 11%);
  --cyan-200: hsl(180, 45%, 16%);
  --cyan-300: hsl(180, 50%, 28%);
  --cyan-400: hsl(180, 50%, 38%);
  --cyan-500: hsl(180, 50%, 44%);
  --cyan-600: hsl(180, 50%, 62%);
  --cyan-700: hsl(180, 50%, 72%);
  --cyan-800: hsl(180, 50%, 80%);
  --cyan-900: hsl(180, 58%, 91%);
  --cyan-950: hsl(180, 40%, 97%);
  --gray-50: hsl(248, 21%, 13%);
  --gray-100: hsl(246, 18%, 15%);
  --gray-200: hsl(246, 11%, 22%);
  --gray-300: hsl(246, 8%, 35%);
  --gray-400: hsl(246, 7%, 45%);
  --gray-500: hsl(246, 6%, 55%);
  --gray-600: hsl(246, 6%, 65%);
  --gray-700: hsl(246, 6%, 78%);
  --gray-800: hsl(246, 6%, 87%);
  --gray-900: hsl(246, 6%, 95%);
  --gray-950: hsl(246, 4%, 97%);
  --red-50: hsl(1, 35%, 10%);
  --red-100: hsl(1, 45%, 12%);
  --red-200: hsl(1, 55%, 20%);
  --red-300: hsl(1, 62%, 28%);
  --red-400: hsl(1, 62%, 35%);
  --red-500: hsl(1, 62%, 44%);
  --red-600: hsl(1, 62%, 60%);
  --red-700: hsl(1, 62%, 76%);
  --red-800: hsl(1, 64%, 85%);
  --red-900: hsl(1, 68%, 95%);
  --red-950: hsl(1, 55%, 98%);
  --pink-50: hsl(270, 38%, 12%);
  --pink-100: hsl(270, 40%, 16%);
  --pink-200: hsl(270, 45%, 24%);
  --pink-300: hsl(270, 50%, 32%);
  --pink-400: hsl(270, 55%, 43%);
  --pink-500: hsl(270, 60%, 52%);
  --pink-600: hsl(270, 70%, 65%);
  --pink-700: hsl(270, 70%, 75%);
  --pink-800: hsl(270, 70%, 85%);
  --pink-900: hsl(270, 70%, 95%);
  --pink-950: hsl(270, 70%, 98%);
  --green-50: hsl(152, 15%, 10%);
  --green-100: hsl(152, 26%, 11%);
  --green-200: hsl(152, 32%, 16%);
  --green-300: hsl(152, 38%, 24%);
  --green-400: hsl(152, 38%, 34%);
  --green-500: hsl(152, 38%, 42%);
  --green-600: hsl(152, 38%, 60%);
  --green-700: hsl(152, 38%, 70%);
  --green-800: hsl(152, 38%, 80%);
  --green-900: hsl(152, 38%, 91%);
  --green-950: hsl(152, 40%, 97%);
  --yellow-50: hsl(44, 40%, 08%);
  --yellow-100: hsl(44, 40%, 10%);
  --yellow-200: hsl(44, 50%, 16%);
  --yellow-300: hsl(44, 62%, 25%);
  --yellow-400: hsl(44, 70%, 40%);
  --yellow-500: hsl(44, 74%, 52%);
  --yellow-600: hsl(44, 78%, 62%);
  --yellow-700: hsl(44, 78%, 72%);
  --yellow-800: hsl(44, 78%, 80%);
  --yellow-900: hsl(44, 78%, 90%);
  --yellow-950: hsl(44, 75%, 97%);
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

main {
  max-width: 100%;
  min-height: calc(100vh - 72px);
}

main,
.header {
  padding: 0 30px;
}

section {
  max-width: 1160px;
  margin: 0 auto;
  padding: 100px 0;
}

.create-section {
  min-height: calc(100vh - 272px);
  display: flex;

  justify-content: center;
}

.create-section form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.create-section input[type="text"] {
  padding: 12px 16px;
  border: 1px solid var(--pink-500);
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: var(--pink-500);
}

main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.create-section .button-submit {
  padding: 12px 0;
  height: 48px;
  color: var(--text-primary);
  background-color: var(--pink-500);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  font-weight: bold;
  margin-top: 40px;
}

/*DASHBOARD*/
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}

.dashboard .card {
  padding: 20px;
  background-color: var(--gray-100);
  border-radius: 3px;
}

.dashboard .card a {
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}

.card_top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card_top svg {
  color: var(--pink-400);
  font-size: 40px;
}

.card_top h3 {
  margin: 0;
  color: var(--text-primary);
}

.card_content p {
  margin: 0;
  color: var(--gray-500);
}

/*HEADER*/
header {
  max-width: 1160px;
  height: 72px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  color: var(--gray-500);
  text-decoration: none;
  margin-right: 32px;
  font-size: 14px;
  font-weight: 600;
}

header nav {
  display: flex;
  align-items: center;
}

nav .button-menu {
  padding: 8px 12px;
  background-color: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

nav .button-menu div {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .button-menu img {
  width: 24px;
}

nav .button-menu svg {
  color: var(--gray-500);
  font-size: 20px;
}

/* Dropdown Menu */
.dropdown-menu {
  position: fixed;
  left: 0;
  top: 57px;
  transform: translate3d(100%, 0, 0);
  width: max-content;
  z-index: 50;
  --radix-popper-transform-origin: 100% 0px;
}
.menu {
  padding: 8px;
  margin-top: 8px;
  background-color: var(--background);
  border: 1px solid var(--gray-200);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu a {
  text-decoration: none;
  width: 100%;
}

.menu .link-content {
  height: 2.25rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gray-700);
  font-size: 14px;
  line-height: 21px;
  padding: 0 12px;
  border-radius: 0.25rem;
}

.menu .link-content div {
  width: 24px;
  height: 24px;
}

.menu .link-content svg {
  font-size: 20px;
}

.menu .link-red svg,
.menu .link-red {
  color: var(--red-500);
}

.menu .separator {
  height: 1px;
  background-color: var(--gray-100);
  width: 100%;
  margin: 0.5rem 0;
}

/*Summary Page*/
.summary h1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.summary h1 svg {
  cursor: pointer;
}

.summary .buttons {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.summary .buttons svg {
  font-size: 20px;
}

.input-bx {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary input {
  font-size: 24px;
  color: var(--text-primary);
  background-color: var(--background);
  border: transparent;
  outline: 0;
  font-weight: 600;
}

/*Google Button*/
.google-button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  margin: 10px 0;
}

.google-button svg {
  font-size: 24px;
}